<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <Authorizing>
                <text class="m-4"> Authorizing ... </text>
            </Authorizing>
            <NotAuthorized>
                <h3 class="m-4"> Not Authorized! </h3>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <ErrorMessage />
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
