<div class="col-md-6 col-lg-4 d-flex">
    <div class="book-wrap d-lg-flex">
        <div class="img d-flex justify-content-end" style="background-image:url(@SetImageUrl())">
            <div class="in-text">
                @if (Book.IsEbook == false)
                {
                    <a href="#" class="icon d-flex align-items-center justify-content-center" title="@callToOwner">
                        <span class="flaticon-shopping-cart"></span>
                    </a>
                }
                @if (Book.IsEbook == true)
                {
                    <AuthorizeView>
                        <Authorized>
                            <a href="@ReferToDownloadBook()" class="icon d-flex align-items-center justify-content-center" title="@download">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </Authorized>

                        <NotAuthorized>
                            <DialogModal @ref="dialogModal" />
                            <button @onclick="() => dialogModal.Show()" class="icon d-flex align-items-center justify-content-center" title="@download">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </NotAuthorized>
                    </AuthorizeView>
                }
                <a href="@ReferToBook()" class="icon d-flex align-items-center justify-content-center" title="@view">
                    <span class="flaticon-search"></span>
                </a>
            </div>
        </div>
        <div style="cursor: pointer;" @onclick="@ReferToBookClick" class="text p-4 order-md-first">
            <p><a href="@ReferToBook()" style="font-size: 14px;" title="@Book.Title">@SetFieldShorter(Book.Title)</a></p>
            <span class="position price" title="@Book.Author">@SetFieldShorter(Book.Author)</span>
        </div>
    </div>
</div>
