<div class="col-md-4 d-flex">
    <div class="book-wrap">
        <div class="img d-flex justify-content-end w-100" style="background-image:url(@SetImageUrl())">
            <div class="in-text">
                @if (BookItem.IsEbook == false)
                {
                <AuthorizeView>
                    <Authorized>
                        <a href="@ReferToCallOwner()" class="icon d-flex align-items-center justify-content-center" title="@callToOwner">
                            <span class="flaticon-shopping-cart"></span>
                        </a>
                    </Authorized>

                    <NotAuthorized>
                        <DialogModal @ref="dialogModal" />
                        <button @onclick="() => dialogModal.Show()" class="icon d-flex align-items-center justify-content-center" title="@download">
                            <span class="flaticon-shopping-cart"></span>
                        </button>
                    </NotAuthorized>
                </AuthorizeView>
                }
                @if (BookItem.IsEbook == true)
                {
                    <AuthorizeView>
                        <Authorized>
                            <a href="@ReferToDownloadBook()" class="icon d-flex align-items-center justify-content-center" title="@download">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </Authorized>

                        <NotAuthorized>
                            <DialogModal @ref="dialogModal" />
                            <button @onclick="() => dialogModal.Show()" class="icon d-flex align-items-center justify-content-center" title="@download">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                        </NotAuthorized>
                    </AuthorizeView>
                }
                <a href="@ReferToBook()" class="icon d-flex align-items-center justify-content-center" title="@view">
                    <span class="flaticon-search"></span>
                </a>
            </div>
        </div>
        <div style="cursor: pointer;" @onclick="@ReferToBookClick" class="text px-4 py-3 w-100">
            <p style="font-size: 14px;" title="@BookItem.Title">@SetFieldShorter(BookItem.Title)</p>
            <span class="position price" title="@BookItem.Author">@SetFieldShorter(BookItem.Author)</span>
        </div>
    </div>
</div>