@page "/profile-edit"
<Spinner @ref="LoadSpinner" />
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="wrapper px-md-4">
                <div class="row no-gutters">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4">Оновлення профілю</h3>
                        <EditForm @oninput="@ClearErrorMessage" method="POST" class="contactForm"
                                  Model="@Model" OnValidSubmit="OnSubmitHandle">
                            <FluentValidationValidator />

                            <text class="text-danger">@ErrorMessage</text>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <label class="label" for="name">Ім'я: </label>
                                        <InputText class="form-control"
                                                   name="name" id="name" placeholder="Ім'я"
                                                   @bind-Value="Model.Name" />
                                        <ValidationMessage For="@(() => Model.Name)" />
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <label class="label" for="name">Прізвище: </label>
                                        <InputText class="form-control"
                                                   name="surname" id="surname" placeholder="Прізвище"
                                                   @bind-Value="Model.Surname" />
                                        <ValidationMessage For="@(() => Model.Surname)" />
                                    </div>
                                </div>


                                <div class="col-md-12 mb-4">
                                    <div class="form-group">
                                        <label class="label" for="email">Email: </label>
                                        <InputText type="email" class="form-control"
                                                   name="email" id="email" placeholder="Email"
                                                   @bind-Value="Model.Email" />
                                        <ValidationMessage For="@(() => Model.Email)" />
                                    </div>
                                </div>


                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <label class="label" for="">Телефон: </label>
                                        <input type="tel" class="form-control"
                                               name="phone" id="phone" placeholder="Телефон"
                                               @bind="@Model.Phone" />
                                        <ValidationMessage For="@(() => Model.Phone)" />
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <label class="label" for="">Дата народження: </label>
                                        <InputDate class="form-control" @bind-Value="Model.DateOfBirth" name="DateOfBirth" id="DateOfBirth" />
                                        <ValidationMessage For="@(() => Model.DateOfBirth)" />
                                    </div>
                                </div>

                                <div class="col-md-12 mt-3">
                                    <div class="form-group centerbox">
                                        <button type="submit" class="btn btn-primary mx-auto"> Підтвердити зміни </button>
                                        <div class="submitting"></div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>