@page "/restore"
@implements IDisposable

<Spinner @ref="LoadSpinner" />
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="wrapper px-md-4">
                <div class="row no-gutters">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4">Зміна паролю</h3>
                        <EditForm @oninput="@ClearErrorMessage" method="POST" id="changepasswordForm" name="changepasswordForm"
                                  class="contactForm" Model="@Model" OnValidSubmit="@OnSubmitHandle">
                            <FluentValidationValidator />

                            <text class="text-danger">@ErrorMessage</text>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="password">Пароль: </label>
                                        <InputText type="password" class="form-control"
                                                   name="password" id="password" placeholder="Пароль"
                                                   @bind-Value="Model.NewPassword" />
                                        <ValidationMessage For="@(() => Model.NewPassword)" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="confirmPassword">Підтвердити пароль: </label>
                                        <InputText type="password" class="form-control"
                                                   name="confirmPassword" id="confirmPassword" placeholder="Пароль"
                                                   @bind-Value="Model.ConfirmNewPassword" />
                                        <ValidationMessage For="@(() => Model.ConfirmNewPassword)" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary"> Оновити </button>
                                        <div class="submitting"></div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>